//
//  Development.xcconfig
//  iWeather
//
//  Created by Huned on 21/05/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SLASH       = /
base_url    = https:$(SLASH)/api.openweathermap.org/data/2.5/
api_key     = {YOUR_API_KEY_HERE}
